@CHARSET "UTF-8";
a,button{
    cursor: pointer;
}
a{
    color:#39b3d7;
}
body {
    background: url("../images/bg-wall.gif") repeat scroll -70% 0 #f7dde7;
    font-size: 14px;
    line-height: 1;
    overflow-x: hidden;
}
.margin0{
    margin:0;
}
.paddingl0{
    padding-left: 0;
}
.headerheight {
    height: 90px;
}
/*head*/
h1.title {
    font-family: inherit;
    font-weight: 600;
    margin-top: 30px;
}
h4.title {
    margin-bottom: 25px;
}
a.title{
    color:#39b3d7;
    font-size: 18px;
}
.input-group{
    margin-top: 35px;
}
.search{
    background: url("../images/zoom.png") no-repeat 8px 4px;
    background-color: #fff;
    padding-left: 40px !important;
}
/*end head*/

/*main*/
.importTemplat{
	text-align: right;
   margin-bottom: 10px;
   margin-right: 10px;
}
.main-wrap {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);
    list-style: none outside none;
    margin: 5px 0 70px;
    padding: 30px 50px;
    transition: box-shadow 0.1s ease-in-out 0s;
}
.buttons button{
    margin-right: 10px;
}
.quesitionlib{
    margin-top: 50px;
}
ul.quesitionlib>li:hover{
	background-color: #f5f5f5;
}
.quesitionlib ul.content{
    margin-top: 40px;
}
li.quesitionlib-list{
    padding: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: -1px;
}
ul.content>li{
    display:inline;
    margin-right: 18px;
}
li.highChart{
	 cursor:pointer;
}

ul.content >li >a{
    color: #ff7800;
    text-decoration: underline;
}
ul.content >li >span{
    color: #ff7800;
}
.editinfo{
    padding-top: 20px;
    clear: both;
    text-align: right;
}
.operator{
	opacity: 0;
	filter:alpha(opacity=0);
	/* display:none; */
}
.operator.show{
	opacity: 1;
	filter:alpha(opacity=100);
	/* display:none; */
}
/*end main*/
.morewrapper {
	margin-bottom: 20px;
	text-align: center;
	position: relative;
}

.morewrapper button {
	max-width: 200px;
	margin: 0 auto;
	padding:10px 20px;
}
/*柱状图*/
.highChartShow{
	display: block;
	max-width: 522px;
}
/*下载*/
.uploadify-button {
border: 1px solid rgba(0, 0, 0, 0);
-moz-user-select: none;
background-image: none;
border-radius: 4px;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: normal;
margin-bottom: 0;
padding: 6px 12px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
font-family: inherit;
color: #333;
background-color: #fff;
border-color: #ccc;
padding: 0;
}
.uploadify-button-hover{
color: #333;
background-color: #ebebeb;
border-color: #adadad;
}
div.uploadify,div.uploadify-queue{
	display:inline;
}
div.uploadify-queue{
float: left;
text-align: right;
margin-right: 10px;
}
/*分页*/
div.page{
	padding: 10px 0 0 0;
font-weight: bold;
text-align: center;
}
div.page a {
display: inline-block;
width: 44px;
height: 44px;
margin: 0 10px;
text-indent: -9999px;
}
div.page a.previous_page{
	background-repeat: no-repeat;
background-position: 0 0;
background-image: url(../images/icon-previous.png);
}
div.page a.next_page{
	background-repeat: no-repeat;
background-position: 0 0;
background-image: url(../images/icon-next.png);
}
div.page a:hover {
background-position: 0 -44px;
}
/*end 分页*/

/*错误提示*/

.alert-main {
line-height: 40px;
height: 40px;
width:400px;
background: #eb6f63;
color: #FADBD8;
padding: 0 20px;
border-radius: 4px;
font-size: 1.2em;
font-weight: bold;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
